* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

body,
#app {
  margin: 0;
  background: var(--md-sys-color-surface-bright);
  color: var(--md-sys-color-on-surface);
  user-select: none;
  -webkit-user-select: none;
}
